.card {
    width: 400px;
    border: 2px solid black;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
  }
  
  img {
    width: 100%;
    border-radius: 25px;
  }
  
  h2 {
    color: #d56f3e;
  }
  
  span {
    color: #9d6f24;
  }
  
  h4 {
    text-align: right;
    color: #3c787e;
  }
  
  #pets {
    display: flex;
    justify-content: space-evenly;
  }
  @media(max-width:375px){
    #pets{flex-wrap:wrap;}
  }
  
  .container{
    margin:0;
    padding:0;
    height:100vh;
    display:grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
    grid-gap:10px;
  }
  
  .container div {
    background-color: pink;
    font-size: 1.5rem;
  }
  
  .header{
    grid-column:1/span12;
  }
  .sidebar{
    grid-column:1/span3;
    grid-row:2/span10;
  }
  .navigation{
    grid-column:4/span6;
  }
  .ads{
    grid-column:10/span3;
    grid-row:2/span10;
  }
  .main{
    grid-column:4/span6;
    grid-row:3/span9;
  }
  .footer{
    grid-column:1/span12;
  }